# --- .NET / C# ---
build/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build / publish / logs
*.log
*.db
*.pid
*.pdb
*.cache
*.tmp
*.bak

# Avalonia previewer cache
.avalonia/

# VSCode only
.vscode/
.vscode-test/

# OS-specific
.DS_Store
Thumbs.db

# Rider / JetBrains (facultatif)
.idea/

# Configs, backup
*.swp
*.orig
*.old
buildver.txt
*.vs/
v17/
# Plugin temp files
Plugins/.cache/
Plugins/temp/

# Library files
*.dll
*.exe
# NuGet packages
*.nupkg
# Local settings
*.local
# User-specific files
*.userprefs
# Temporary files
*.tmp
